@import "~normalize.css/normalize";

/** Base **/

:root {
  --led-text: #ffffe0; /* Un color blanco-amarillento para el efecto LED */
  --led-bg: #000000;
  --led-border: #333; /* Un gris oscuro para separadores */
}

* {
  box-sizing: border-box;
  white-space: nowrap;
}

html {
  font-size: 1vmin;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--led-text);
  background-color: var(--led-bg);
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
