header .datetime {
  line-height: 1;
  text-align: right;

  .time {
    // --- CAMBIO 3: Más grande y blanco ---
    font-size: 6.5rem; // (era 6rem)
    color: #ffffff;
    // --- Fin Cambio 3 ---
    font-weight: bold;
  }
}
