header .datetime {
  color: inherit; // <-- Cambiado (para heredar el color LED)
  line-height: 1;
  text-align: right;

  .time {
    font-size: 6rem;
    font-weight: bold;
  }

  /* Estilos de fecha eliminados
  .date {
    font-size: 3.5rem;
  }
  */
}
