header {
  width: 100vw;
  height: 12vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--led-bg); // <-- Cambiado
  border-bottom: 1px solid var(--led-border); // <-- Añadido separador

  > * {
    padding: 0 3.5rem;
  }

  > :first-child,
  > :last-child {
    flex: 1;
  }

  /* El logo se ha eliminado */
  .logo {
    display: none;
  }

  .title {
    font-size: 7rem;
    font-weight: bold;
    text-align: left; // <-- Aseguramos alineación
  }
}
