header {
  width: 100vw;
  height: 12vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--led-bg);

  > * {
    padding: 0 3.5rem;
  }

  > :first-child,
  > :last-child {
    flex: 1;
  }

  .logo {
    display: none;
  }

  .title {
    // --- CAMBIO 3: Más grande y blanco ---
    font-size: 7.5rem; // (era 7rem)
    color: #ffffff;
    // --- Fin Cambio 3 ---
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }
}
