@keyframes blinker {
  40% {
    opacity: 0;
  }
}

section.schedules {
  max-height: 82vh;
  font-size: 6.5rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .line {
    flex-basis: 15%;
    text-align: center;
  }

  .destination {
    flex-basis: 55%;
  }

  .time {
    flex-basis: 30%;
  }

  .header {
    height: 12vh;
    padding: 2rem 3.5rem;
    background-color: var(--led-bg);
    color: inherit;
    font-size: 4.5rem;
    /* border-bottom: 1px solid var(--led-border); */ /* <-- Eliminado */

    > * {
      line-height: 1;
      font-weight: bold; /* <-- Añadido */

      &.line {
        text-align: left;
        padding-left: 2.5rem;
      }

      /* Regla anterior eliminada */
      /*
      :last-child {
        font-weight: 200;
      }
      */
    }
  }

  .departure {
    height: 10vh;
    padding: 2rem 3rem;
    /* border-bottom: 1px solid var(--led-border); */ /* <-- Eliminado */

    .line {
      img {
        height: 6rem;
      }
    }

    .destination {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .time {
      .next {
        font-size: 4rem;
        line-height: 0.9;
        animation: blinker 1s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s infinite;
      }
    }
  }
}
